.schedule {
  background: white;
  width: 100vw;
  overflow-x: auto;
  color: white;
}

.schedule-container {
  margin: 0 auto;
  max-width: 1440px;
}

.single-schedule {
  position: relative;
  width: 12.5vw;
  min-width: 148px;
  border: solid 1px lightgrey;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.schedule,
.schedule-container,
.sc-home,
.sc-away,
.sc-date-time,
.sc-home-team,
.sc-away-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message p {
  font-size: 10px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.sc-club-logo {
  width: 20px;
  margin: 2px 7px 0 3px;
}

.sc-home,
.sc-away {
  min-width: 110px;
}

.sc-home p,
.sc-away p {
  font-size: 12px;
  margin-right: 5px;
  white-space: nowrap;
}

.sc-date,
.sc-time,
.sc-score {
  margin: 0 5px;
  font-size: 10px;
}

.schedule a,
.schedule a:visited {
  text-decoration: none;
  color: black;
}

.sc-time {
  color: #0080a7;
}

/*============ 
hover effects 
============*/

.single-schedule:hover > .sc-date-time,
.single-schedule:hover > .sc-home,
.single-schedule:hover > .sc-away,
.single-schedule:focus > .sc-date-time,
.single-schedule:focus > .sc-home,
.single-schedule:focus > .sc-away {
  visibility: hidden;
}

.single-schedule:hover > .message p,
.single-schedule:focus > .message p {
  visibility: visible;
}

/*============ 
mobile version 
============*/
@media screen and (max-width: 768px) {
  .single-schedule {
    width: 125px;
  }
  .sc-home p,
  .sc-away p {
    font-size: 9px;
  }
  .sc-date,
  .sc-time {
    font-size: 8px;
    margin: 0;
  }
  .message p {
    font-size: 8px;
  }
}
